{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<article class="about-section py-5">
    <div class="container">
        <h2 class="title mb-3">About Me</h2>
        <p>{{ about.intro|safe }}</p>
        <h4 class="mt-5">Professional Experience</h4>
        {{ about.experience|safe }}
        <h4 class="mt-5">My Education Journey</h4>
        {{ about.education|safe }}
        <h4 class="mt-5">Portfolio Highlights</h4>
        {{ about.portfolio|safe }}
    </div>
</article>
<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">{{ about.newsletter_title }}</h2>
        <p class="intro">{{ about.newsletter_text }}</p>
    </div>
</section>
{% endblock %}